@charset "UTF-8";

* {
  font-family:  'Noto Sans TC', sans-serif , '微軟正黑體';
  position: relative;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

#header_index {
  padding-top: 35vh;
  padding-bottom: 35vh;
  background-image: url("/images/CV.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}
#header_index:before {
  content: "";
  background-color: black;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
  z-index: 2;
}
#header_index .header_inner {
  z-index: 3;
}
#header_index .header_inner h4, #header_index .header_inner h1 {
  margin: 0;
  margin-bottom: 4px;
}
#header_index .header_inner h4:nth-child(1) {
  color: #ececee;
}
#header_index .header_inner h1 {
  color: #ececee;
  font-weight: bold;
  font-size: 50px;
}
#header_index .header_inner h4:nth-child(3) {
  color: #f9cb44;
  font-weight: normal;
  margin-bottom: 12px;
}
#header_index .header_inner .link {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 100%;
  margin-right: 5px;
}
#header_index .header_inner .link.mail {
  background-color: #f9cb44;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#header_index .header_inner .link.mail:hover {
  background-color: #f7bd13;
}
#header_index .header_inner .link.mail .fa.fa-envelope {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 15px;
  color: #373946;
}

/*---codepen---*/

#header_index .header_inner .link.codepen {
  background-color: #333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#header_index .header_inner .link.codepen:hover {
  background-color: #444;
}
#header_index .header_inner .link.codepen .fa.fa-codepen {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 15px;
  color: #fff;
}
/*---end---*/


#header_index .header_inner .link.fb {
  background-color: #3548a8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#header_index .header_inner .link.fb:hover {
  background-color: #293781;
}
#header_index .header_inner .link.fb .fb-font {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  color: #ececee;
  font-weight: bold;
}
#header_index .header_inner .link.google {
  background-color: #dd4f3c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#header_index .header_inner .link.google:hover {
  background-color: #c43522;
}
#header_index .header_inner .link.google .google-font {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  color: #ececee;
  font-weight: bold;
}


@media (min-width: 1024px) {
  #header_index .header_inner h1 {
    font-size: 65px;
  }
}
#welcome {
  background-color: #373946;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
#welcome .welcome_inner {
  text-align: center;
}
#welcome .welcome_inner h1.welcome_title {
  color: #ececee;
}
#welcome .welcome_inner hr {
  margin: 0;
  width: 30px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ececee;
  margin-top: 20px;
  margin-bottom: 30px;
}
#welcome .welcome_inner p.welcome_des {
  color: #ececee;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 25px;
  margin-bottom: 40px;
}
#welcome .welcome_inner .btn.download_cv, #welcome .welcome_inner .btn.hire_me {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#welcome .welcome_inner .btn.download_cv {
  background-color: #f9cb44;
  border: 3px solid #f9cb44;
  color: #373946;
  padding: 8px 15px;
  margin-right: 16px;
}
#welcome .welcome_inner .btn.download_cv:hover {
  background-color: #373946;
  color: #ececee;
}
#welcome .welcome_inner .btn.hire_me {
  border: 3px solid #ececee;
  color: #ececee;
  padding: 8px 35px;
}
#welcome .welcome_inner .btn.hire_me:hover {
  background-color: #ececee;
  color: #373946;
}

@media (max-width: 768px) {
  #welcome .welcome_inner h1.welcome_title {
    font-size: 30px;
  }
  #welcome .welcome_inner hr {
    height: 3px;
  }
  #welcome .welcome_inner p.welcome_des {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  #welcome .welcome_inner .btn.download_cv {
    margin-right: 8px;
  }
}
#experience {
  padding-top: 30vh;
  text-align: center;
  padding-bottom: 35vh;
}
#experience:before, #experience:after {
  width: 100%;
  height: 100px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  display: block;
  position: absolute;
  z-index: 9;
}
#experience:before {
  background-image: url("/images/資產 2.png");
  top: -3px;
  left: 0;
}
#experience:after {
  background-image: url("/images/資產 4.png");
  bottom: 0px;
  left: 0;
}
#experience .ex_data {
  border: solid 1px #373946;
  padding: 100px;
}
#experience .ex_header .ex_title {
  color: #373946;
  font-size: 40px;
  font-weight: bold;
}
#experience .ex_header hr {
  background-color: #373946;
  height: 5px;
  margin: 0;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 20px;
}
#experience .data {
  margin-bottom: 10px;
}
#experience .data .data_head {
  padding: 10px;
  text-align: right;
}
#experience .data .data_head .year, #experience .data .data_head .circle {
  display: inline-block;
  vertical-align: middle;
}
#experience .data .data_head .year {
  margin-right: 3px;
}
#experience .data .data_head .circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 8px solid #f9cb44;
  vertical-align: middle;
  top: 5px;
}
#experience .data .data_head .circle .line {
  width: 10px;
  height: 200%;
  background-color: #373946;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 180%;
  position: absolute;
}



#experience .data .data_box {
  color: #ececee;
  text-align: left;
  padding: 15px;
}
#experience .data .data_box .data_box__inner {
  background-color: #373946;
  padding: 3px 15px;
  padding-bottom: 30px;
  box-shadow: 5px 5px 12px #cccccc;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#experience .data .data_box .data_box__inner:after {
  content: "";
  display: block;
  background-color: #373946;
  position: absolute;
  top: 20px;
  left: -20px;
  border-color: #373946 #373946 white white;
  border-style: solid solid solid solid;
  border-width: 15px 10px 15px 10px;
}
#experience .data .data_box .data_box__inner:hover {
  box-shadow: 8px 8px 8px #bbbbbb;
}
#experience .data .data_box .data_box__inner .title {
  margin-bottom: 10px;
}

@media (max-width: 375px) {
  #experience {
    padding-top: 25vh;
    padding-bottom: 25vh;
  }
  #experience .ex_header .ex_title {
    font-size: 30px;
  }
  #experience .ex_header hr {
    height: 3px;
  }
  #experience .data .data_box .data_box__inner:after {
    display: none;
  }
  #experience .data .data_box .data_box__inner .title {
    font-size: 22px;
    font-weight: bold;
  }
}
@media (max-width: 768px) {
  #experience .data .data_head {
    text-align: center;
  }
  #experience .data .data_head .circle .line {
    display: none;
  }
  #experience .data .data_box .data_box__inner:after {
    display: none;
  }
}
#profolio {
  background-color: #f9cb44;
  padding-top: ovh;
  padding-bottom: 10vh;
}
#profolio:before, #profolio:after {
  width: 100%;
  height: 100px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  display: block;
  position: absolute;
  z-index: 9;
}
#profolio:after {
  background-image: url("/images/資產 5.png");
  bottom: -100px;
  left: 0;
}
#profolio .profolio_header {
  text-align: center;
}
#profolio .profolio_header .title {
  font-size: 40px;
  font-weight: bold;
}
#profolio .profolio_header hr {
  margin: 0;
  width: 30px;
  height: 5px;
  background-color: #373946;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border: 0;
}
#profolio .owl-carousel.owl-theme .owl-box h3.owl_title {
  font-weight: bold;
  font-size: 25px;
}
#profolio .owl-carousel.owl-theme .owl-box p.owl_des {
  font-size: 18px;
}

#profolio .owl-carousel.owl-theme .owl-box p.owl_des a {
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
}
#profolio .owl-carousel.owl-theme .owl-box p.owl_des a:hover{
  color: white;
}

#profolio .owl-carousel.owl-theme .owl-box p.owl_des a:active{
  color: #333;
}

#profolio .owl-carousel.owl-theme .owl-dots {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  text-align: center;
}
#profolio .owl-carousel.owl-theme .owl-dots .owl-dot.active {
  background-color: #373946;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#profolio .owl-carousel.owl-theme .owl-dots .owl-dot {
  width: 15px;
  height: 15px;
  border: 1px solid #373946;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media (max-width: 768px) {
  #profolio {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  #profolio .profolio_header .title {
    font-size: 30px;
  }
  #profolio .profolio_header hr {
    height: 3px;
  }
  #profolio .owl-carousel.owl-theme .owl-box .owl_title {
    font-weight: bold;
  }
}
@media (max-width: 375px) {
  #profolio {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}
#skills {
  padding-top: 30vh;
  padding-bottom: 35vh;
}
#skills:before, #skills:after {
  width: 100%;
  height: 100px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  display: block;
  position: absolute;
  z-index: 9;
}
#skills:after {
  background-image: url("/images/資產 6.png");
  bottom: 0px;
  left: 0;
}
#skills .skill_header {
  text-align: center;
}
#skills .skill_header h1.skill_title {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  color: #373946;
}
#skills .skill_header hr {
  margin: 0;
  margin-bottom: 40px;
  width: 30px;
  height: 5px;
  background-color: #373946;
  margin-left: auto;
  margin-right: auto;
}
#skills .skill_box {
  text-align: center;
  vertical-align: middle;
  font-size: 0px;
}
#skills .skill_box .skill_box_inner {
  display: inline-block;
  float: none;
  width: 200px;
  vertical-align: middle;
  margin-bottom: 16px;
}
#skills .skill_box .skill_box_inner .skill_chart {
  margin-bottom: 8px;
}
#skills .skill_box .skill_box_inner h3.skill_title {
  white-space: nowrap;
  margin: 0;
  margin-bottom: 8px;
}

@media (min-width: 1024px) {
  #skills .skill_box .skill_box_inner {
    width: calc(100% / 5);
  }
}
@media (max-width: 768px) {
  #skills {
    padding-top: 25vh;
    padding-bottom: 30vh;
  }
  #skills .profolio_header .title {
    font-size: 30px;
  }
  #skills .profolio_header hr {
    height: 3px;
  }
}
#contact {
  background-color: #373946;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
#contact .contact_box {
  text-align: center;
  color: #ececee;
}
#contact .contact_box h1.contact_title {
  color: #ececee;
  font-size: 40px;
}
#contact .contact_box hr {
  margin: 0;
  margin-top: 15px;
  width: 30px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ececee;
}
#contact .contact_box a.call, #contact .contact_box a.direct, #contact .contact_box a.fb, #contact .contact_box a.codepen, #contact .contact_box a.google {
  padding: 4px;
  line-height: 35px;
  color: #ececee;
}
#contact .contact_box a.call:hover, #contact .contact_box a.direct:hover, #contact .contact_box a.fb:hover, #contact .contact_box a.codepen:hover, #contact .contact_box a.google:hover {
  color: #ececee;
  text-decoration: none;
}
#contact .contact_box a.call, #contact .contact_box a.direct {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#contact .contact_box a.call:hover, #contact .contact_box a.direct:hover {
  color: #f9cb44;
}
#contact .contact_box a.fb, #contact .contact_box a.codepen, #contact .contact_box a.google {
  margin-right: 16px;
  padding: 4px;
  border-bottom: #ececee 1px solid;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#contact .contact_box a.fb:hover, #contact .contact_box a.codepen:hover, #contact .contact_box a.google:hover {
  border-bottom: #f9cb44 1px solid;
}
#contact .contact_box form.contact_inner {
  padding: 24px;
}
#contact .contact_box form.contact_inner h4.contact_des {
  margin-bottom: 32px;
}
#contact .contact_box form.contact_inner .contact_name, #contact .contact_box form.contact_inner .contact_mail, #contact .contact_box form.contact_inner .contact_msg {
  width: calc(100% / 1.2 );
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ececee;
  border-radius: 0px;
  box-shadow: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #ececee;
}
#contact .contact_box form.contact_inner .contact_name:focus, #contact .contact_box form.contact_inner .contact_mail:focus, #contact .contact_box form.contact_inner .contact_msg:focus {
  box-shadow: none;
  color: #ececee;
  border-bottom: 1px solid #f9cb44;
}
#contact .contact_box form.contact_inner .btn.btn_send {
  background-color: #f9cb44;
  outline: 0;
  width: calc(100% / 1.2 );
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #f9cb44;
  color: #373946;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 40px;
  font-weight: bold;
}
#contact .contact_box form.contact_inner .btn.btn_send:hover {
  background-color: transparent;
  color: #ececee;
}

@media (min-width: 992px) {
  #contact .contact_box form.contact_inner .contact_name, #contact .contact_box form.contact_inner .contact_mail, #contact .contact_box form.contact_inner .contact_msg {
    width: calc(100% / 1.5);
  }
  #contact .contact_box form.contact_inner .btn.btn_send {
    width: calc(100% / 1.5);
  }
}
@media (max-width: 375px) {
  #contact {
    padding-top: 5vh;
    padding-bottom: 10vh;
  }
  #contact .contact_box h1.contact_title {
    font-size: 30px;
  }
  #contact .contact_box hr {
    height: 3px;
  }
  #contact .contact_box form.contact_inner h4.contact_des {
    font-size: 14px;
  }
}
#footer {
  text-align: center;
  color: #ececee;
  background-color: #2c2d38;
  padding: 8px;
}

.menu {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9;
  padding: 8px;
  width: 50px;
  height: 50px;
}
.menu .menu-toggle {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu .menu-toggle span {
  width: 100%;
  height: 4px;
  margin-bottom: calc( 100% / 3.5 );
  display: block;
  background-color: #dd4f3c;
}
.menu #overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ececee;
  opacity: 0;
  visibility: hidden;
}
.menu #overlay:target {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu #overlay .nav__menu{
  padding-top: 25vh!important;
  text-align: center;
  list-style: none;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
}
.menu #overlay ul.menu.nav__menu li a.menu__item {
  color: #373946;
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  
}
.menu #overlay ul.menu.nav__menu li a.menu__item:hover {
  color: #dd4f3c;
}

@media (max=width: 768px){
  .menu #overlay ul.menu.nav__menu li a.menu__item {
    font-size: 40px;

  }
}

.menu #overlay a.popup-close {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 10px;
  top: 10px;
  z-index: 99;
}
.menu #overlay a.popup-close span:nth-child(1) {
  border: 2px solid #dd4f3c;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu #overlay a.popup-close span:nth-child(2) {
  border: 2px solid #dd4f3c;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menu #overlay a.popup-close span {
  display: block;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 80%;
  background-color: #dd4f3c;
  position: absolute;
}

@media (max-width: 375px) {
  .menu {
    font-size: 16px;
  }
  .menu #overlay ul.menu.nav__menu {
    padding-top: 20vh;
  }
  .menu #overlay ul.menu.nav__menu li {
    margin-bottom: 8px;
  }
  .menu #overlay ul.menu.nav__menu li a.menu__item {
    font-size: 30px;
    font-weight: bold;
  }
}



.profolio-box {
  text-align: center;
  font-size: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-box {
  width: 350px;
  height: 300px;
  vertical-align: top;
  -webkit-transition: 3s;
  transition: 3s;
  cursor: pointer;
  overflow: hidden;
  margin: 8px;
}
.img-box:nth-child(n) {
  -webkit-transition: 3s;
  transition: 3s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000;
}
.img-box:nth-child(n):hover .inner_info {
  opacity: 1;
  visibility: visible;
}
.img-box:nth-child(n):hover .img-box__inner {
  top: 0;
  left: 0;
  opacity: 0.8;
  visibility: visible;
}

.inner_info {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  color: #f9cb44;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.img-box__inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  background-color: #000;
  opacity: 0;
  left: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  visibility: hidden;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.innner__title {
  margin: 0;
  text-decoration: none;
}

.innner__title {
  font-weight: bold;
}


@media (max-width: 768px) {
  .profolio-box {
    text-align: center;
  }

  .img-box {
    display: inline-block;
    position: relative;
    vertical-align: center;
    overflow: visible;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    margin-bottom: 90px;
    margin-top: 10px;
    width: 300px;
    height: 300px;
  }
  .img-box:hover {
    text-decoration: none;
  }
  .img-box:hover .inner_info {
    color: #dd4f3c;
  }

  .img-box__inner {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: relative;
  }

  .inner_info {
    top: 100%;
    left: 0;
    position: relative;
    /* z-index: 9999; */
    -ms-flex-item-align: none;
        align-self: none;
    opacity: 1;
    visibility: visible;
    display: block;
    color: #373946;
    padding: 15px 0px;
    margin-bottom: 0;
    height: auto;
  }
}
