@charset "UTF-8";

* {
  font-family:  'Noto Sans TC', sans-serif , '微軟正黑體';
  position: relative;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

header#header_index {
  padding-top: 35vh;
  padding-bottom: 35vh;
  background-image: url("/images/CV.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}
header#header_index:before {
  content: "";
  background-color: black;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
  z-index: 2;
}
header#header_index .header_inner {
  z-index: 3;
}
header#header_index .header_inner h4, header#header_index .header_inner h1 {
  margin: 0;
  margin-bottom: 4px;
}
header#header_index .header_inner h4:nth-child(1) {
  color: #ececee;
}
header#header_index .header_inner h1 {
  color: #ececee;
  font-weight: bold;
  font-size: 50px;
}
header#header_index .header_inner h4:nth-child(3) {
  color: #f9cb44;
  font-weight: normal;
  margin-bottom: 12px;
}
header#header_index .header_inner .link {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 100%;
  margin-right: 5px;
}
header#header_index .header_inner .link.mail {
  background-color: #f9cb44;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header#header_index .header_inner .link.mail:hover {
  background-color: #f7bd13;
}
header#header_index .header_inner .link.mail .fa.fa-envelope {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 15px;
  color: #373946;
}

/*---codepen---*/

header#header_index .header_inner .link.codepen {
  background-color: #333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header#header_index .header_inner .link.codepen:hover {
  background-color: #444;
}
header#header_index .header_inner .link.codepen .fa.fa-codepen {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 15px;
  color: #fff;
}
/*---end---*/


header#header_index .header_inner .link.fb {
  background-color: #3548a8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header#header_index .header_inner .link.fb:hover {
  background-color: #293781;
}
header#header_index .header_inner .link.fb .fb-font {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  color: #ececee;
  font-weight: bold;
}
header#header_index .header_inner .link.google {
  background-color: #dd4f3c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header#header_index .header_inner .link.google:hover {
  background-color: #c43522;
}
header#header_index .header_inner .link.google .google-font {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  color: #ececee;
  font-weight: bold;
}


@media (min-width: 1024px) {
  header#header_index .header_inner h1 {
    font-size: 65px;
  }
}
section#welcome {
  background-color: #373946;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
section#welcome .welcome_inner {
  text-align: center;
}
section#welcome .welcome_inner h1.welcome_title {
  color: #ececee;
}
section#welcome .welcome_inner hr {
  margin: 0;
  width: 30px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ececee;
  margin-top: 20px;
  margin-bottom: 30px;
}
section#welcome .welcome_inner p.welcome_des {
  color: #ececee;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 25px;
  margin-bottom: 40px;
}
section#welcome .welcome_inner .btn.download_cv, section#welcome .welcome_inner .btn.hire_me {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
section#welcome .welcome_inner .btn.download_cv {
  background-color: #f9cb44;
  border: 3px solid #f9cb44;
  color: #ececee;
  padding: 8px 15px;
  margin-right: 16px;
}
section#welcome .welcome_inner .btn.download_cv:hover {
  background-color: #373946;
}
section#welcome .welcome_inner .btn.hire_me {
  border: 3px solid #ececee;
  color: #ececee;
  padding: 8px 35px;
}
section#welcome .welcome_inner .btn.hire_me:hover {
  background-color: #ececee;
  color: #373946;
}

@media (max-width: 768px) {
  section#welcome .welcome_inner h1.welcome_title {
    font-size: 30px;
  }
  section#welcome .welcome_inner hr {
    height: 3px;
  }
  section#welcome .welcome_inner p.welcome_des {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  section#welcome .welcome_inner .btn.download_cv {
    margin-right: 8px;
  }
}
section#experience {
  padding-top: 30vh;
  text-align: center;
  padding-bottom: 35vh;
}
section#experience:before, section#experience:after {
  width: 100%;
  height: 100px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  display: block;
  position: absolute;
  z-index: 9;
}
section#experience:before {
  background-image: url("/images/資產 2.png");
  top: -3px;
  left: 0;
}
section#experience:after {
  background-image: url("/images/資產 4.png");
  bottom: 0px;
  left: 0;
}
section#experience .ex_data {
  border: solid 1px #373946;
  padding: 100px;
}
section#experience .ex_header .ex_title {
  color: #373946;
  font-size: 40px;
  font-weight: bold;
}
section#experience .ex_header hr {
  background-color: #373946;
  height: 5px;
  margin: 0;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 20px;
}
section#experience .data {
  margin-bottom: 10px;
}
section#experience .data .data_head {
  padding: 10px;
  text-align: right;
}
section#experience .data .data_head .year, section#experience .data .data_head .circle {
  display: inline-block;
  vertical-align: middle;
}
section#experience .data .data_head .year {
  margin-right: 3px;
}
section#experience .data .data_head .circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 8px solid #f9cb44;
  vertical-align: middle;
  top: 5px;
}
section#experience .data .data_head .circle .line {
  width: 10px;
  height: 200%;
  background-color: #373946;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 180%;
  position: absolute;
}



section#experience .data .data_box {
  color: #ececee;
  text-align: left;
  padding: 15px;
}
section#experience .data .data_box .data_box__inner {
  background-color: #373946;
  padding: 3px 15px;
  padding-bottom: 30px;
  box-shadow: 5px 5px 12px #cccccc;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
section#experience .data .data_box .data_box__inner:after {
  content: "";
  display: block;
  background-color: #373946;
  position: absolute;
  top: 20px;
  left: -20px;
  border-color: #373946 #373946 white white;
  border-style: solid solid solid solid;
  border-width: 15px 10px 15px 10px;
}
section#experience .data .data_box .data_box__inner:hover {
  box-shadow: 8px 8px 8px #bbbbbb;
}
section#experience .data .data_box .data_box__inner .title {
  margin-bottom: 10px;
}

@media (max-width: 375px) {
  section#experience {
    padding-top: 25vh;
    padding-bottom: 25vh;
  }
  section#experience .ex_header .ex_title {
    font-size: 30px;
  }
  section#experience .ex_header hr {
    height: 3px;
  }
  section#experience .data .data_box .data_box__inner:after {
    display: none;
  }
  section#experience .data .data_box .data_box__inner .title {
    font-size: 22px;
    font-weight: bold;
  }
}
@media (max-width: 768px) {
  section#experience .data .data_head {
    text-align: center;
  }
  section#experience .data .data_head .circle .line {
    display: none;
  }
  section#experience .data .data_box .data_box__inner:after {
    display: none;
  }
}
section#profolio {
  background-color: #f9cb44;
  padding-top: ovh;
  padding-bottom: 10vh;
}
section#profolio:before, section#profolio:after {
  width: 100%;
  height: 100px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  display: block;
  position: absolute;
  z-index: 9;
}
section#profolio:after {
  background-image: url("/images/資產 5.png");
  bottom: -100px;
  left: 0;
}
section#profolio .profolio_header {
  text-align: center;
}
section#profolio .profolio_header .title {
  font-size: 40px;
  font-weight: bold;
}
section#profolio .profolio_header hr {
  margin: 0;
  width: 30px;
  height: 5px;
  background-color: #373946;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border: 0;
}
section#profolio .owl-carousel.owl-theme .owl-box h3.owl_title {
  font-weight: bold;
  font-size: 25px;
}
section#profolio .owl-carousel.owl-theme .owl-box p.owl_des {
  font-size: 18px;
}

section#profolio .owl-carousel.owl-theme .owl-box p.owl_des a {
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
}
section#profolio .owl-carousel.owl-theme .owl-box p.owl_des a:hover{
  color: white;
}

section#profolio .owl-carousel.owl-theme .owl-box p.owl_des a:active{
  color: #333;
}

section#profolio .owl-carousel.owl-theme .owl-dots {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  text-align: center;
}
section#profolio .owl-carousel.owl-theme .owl-dots .owl-dot.active {
  background-color: #373946;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
section#profolio .owl-carousel.owl-theme .owl-dots .owl-dot {
  width: 15px;
  height: 15px;
  border: 1px solid #373946;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media (max-width: 768px) {
  section#profolio {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  section#profolio .profolio_header .title {
    font-size: 30px;
  }
  section#profolio .profolio_header hr {
    height: 3px;
  }
  section#profolio .owl-carousel.owl-theme .owl-box .owl_title {
    font-weight: bold;
  }
}
@media (max-width: 375px) {
  section#profolio {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}
section#skills {
  padding-top: 30vh;
  padding-bottom: 35vh;
}
section#skills:before, section#skills:after {
  width: 100%;
  height: 100px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  display: block;
  position: absolute;
  z-index: 9;
}
section#skills:after {
  background-image: url("/images/資產 6.png");
  bottom: 0px;
  left: 0;
}
section#skills .skill_header {
  text-align: center;
}
section#skills .skill_header h1.skill_title {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  color: #373946;
}
section#skills .skill_header hr {
  margin: 0;
  margin-bottom: 40px;
  width: 30px;
  height: 5px;
  background-color: #373946;
  margin-left: auto;
  margin-right: auto;
}
section#skills .skill_box {
  text-align: center;
  vertical-align: middle;
  font-size: 0px;
}
section#skills .skill_box .skill_box_inner {
  display: inline-block;
  float: none;
  width: 200px;
  vertical-align: middle;
  margin-bottom: 16px;
}
section#skills .skill_box .skill_box_inner .skill_chart {
  margin-bottom: 8px;
}
section#skills .skill_box .skill_box_inner h3.skill_title {
  white-space: nowrap;
  margin: 0;
  margin-bottom: 8px;
}

@media (min-width: 1024px) {
  section#skills .skill_box .skill_box_inner {
    width: calc(100% / 5);
  }
}
@media (max-width: 768px) {
  section#skills {
    padding-top: 25vh;
    padding-bottom: 30vh;
  }
  section#skills .profolio_header .title {
    font-size: 30px;
  }
  section#skills .profolio_header hr {
    height: 3px;
  }
}
section#contact {
  background-color: #373946;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
section#contact .contact_box {
  text-align: center;
  color: #ececee;
}
section#contact .contact_box h1.contact_title {
  color: #ececee;
  font-size: 40px;
}
section#contact .contact_box hr {
  margin: 0;
  margin-top: 15px;
  width: 30px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ececee;
}
section#contact .contact_box a.call, section#contact .contact_box a.direct, section#contact .contact_box a.fb, section#contact .contact_box a.codepen, section#contact .contact_box a.google {
  padding: 4px;
  line-height: 35px;
  color: #ececee;
}
section#contact .contact_box a.call:hover, section#contact .contact_box a.direct:hover, section#contact .contact_box a.fb:hover, section#contact .contact_box a.codepen:hover, section#contact .contact_box a.google:hover {
  color: #ececee;
  text-decoration: none;
}
section#contact .contact_box a.call, section#contact .contact_box a.direct {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
section#contact .contact_box a.call:hover, section#contact .contact_box a.direct:hover {
  color: #f9cb44;
}
section#contact .contact_box a.fb, section#contact .contact_box a.codepen, section#contact .contact_box a.google {
  margin-right: 16px;
  padding: 4px;
  border-bottom: #ececee 1px solid;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
section#contact .contact_box a.fb:hover, section#contact .contact_box a.codepen:hover, section#contact .contact_box a.google:hover {
  border-bottom: #f9cb44 1px solid;
}
section#contact .contact_box form.contact_inner {
  padding: 24px;
}
section#contact .contact_box form.contact_inner h4.contact_des {
  margin-bottom: 32px;
}
section#contact .contact_box form.contact_inner .contact_name, section#contact .contact_box form.contact_inner .contact_mail, section#contact .contact_box form.contact_inner .contact_msg {
  width: calc(100% / 1.2 );
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ececee;
  border-radius: 0px;
  box-shadow: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #ececee;
}
section#contact .contact_box form.contact_inner .contact_name:focus, section#contact .contact_box form.contact_inner .contact_mail:focus, section#contact .contact_box form.contact_inner .contact_msg:focus {
  box-shadow: none;
  color: #ececee;
  border-bottom: 1px solid #f9cb44;
}
section#contact .contact_box form.contact_inner .btn.btn_send {
  background-color: #f9cb44;
  outline: 0;
  width: calc(100% / 1.2 );
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #f9cb44;
  color: #373946;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 40px;
  font-weight: bold;
}
section#contact .contact_box form.contact_inner .btn.btn_send:hover {
  background-color: transparent;
  color: #ececee;
}

@media (min-width: 992px) {
  section#contact .contact_box form.contact_inner .contact_name, section#contact .contact_box form.contact_inner .contact_mail, section#contact .contact_box form.contact_inner .contact_msg {
    width: calc(100% / 1.5);
  }
  section#contact .contact_box form.contact_inner .btn.btn_send {
    width: calc(100% / 1.5);
  }
}
@media (max-width: 375px) {
  section#contact {
    padding-top: 5vh;
    padding-bottom: 10vh;
  }
  section#contact .contact_box h1.contact_title {
    font-size: 30px;
  }
  section#contact .contact_box hr {
    height: 3px;
  }
  section#contact .contact_box form.contact_inner h4.contact_des {
    font-size: 14px;
  }
}
footer#footer {
  text-align: center;
  color: #ececee;
  background-color: #2c2d38;
  padding: 8px;
}

.menu {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9;
  padding: 8px;
  width: 50px;
  height: 50px;
}
.menu .menu-toggle {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu .menu-toggle span {
  width: 100%;
  height: 4px;
  margin-bottom: calc( 100% / 3.5 );
  display: block;
  background-color: #dd4f3c;
}
.menu #overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ececee;
  opacity: 0;
  visibility: hidden;
}
.menu #overlay:target {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu #overlay .nav__menu{
  padding-top: 25vh!important;
  text-align: center;
  list-style: none;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
}
.menu #overlay ul.menu.nav__menu li a.menu__item {
  color: #373946;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu #overlay ul.menu.nav__menu li a.menu__item:hover {
  color: #dd4f3c;
}
.menu #overlay a.popup-close {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 10px;
  top: 10px;
  z-index: 99;
}
.menu #overlay a.popup-close span:nth-child(1) {
  border: 2px solid #dd4f3c;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu #overlay a.popup-close span:nth-child(2) {
  border: 2px solid #dd4f3c;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menu #overlay a.popup-close span {
  display: block;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 80%;
  background-color: #dd4f3c;
  position: absolute;
}

@media (max-width: 375px) {
  .menu {
    font-size: 16px;
  }
  .menu #overlay ul.menu.nav__menu {
    padding-top: 20vh;
  }
  .menu #overlay ul.menu.nav__menu li {
    margin-bottom: 8px;
  }
  .menu #overlay ul.menu.nav__menu li a.menu__item {
    font-size: 30px;
    font-weight: bold;
  }
}
